CompileFlags:
  CompilationDatabase: build/Debug

  Add:
    - -Wno-unknown-attributes
    - -Wno-missing-braces
    - -isystem
    - D:/VS_STM32/gcc-arm-15.2/arm-none-eabi/include/c++/15.2.1
    - -isystem
    - D:/VS_STM32/gcc-arm-15.2/arm-none-eabi/include/c++/15.2.1/arm-none-eabi
    - -isystem
    - D:/VS_STM32/gcc-arm-15.2/arm-none-eabi/include/c++/15.2.1/backward
    - -isystem
    - D:/VS_STM32/gcc-arm-15.2/arm-none-eabi/include